.calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    width: 400px;
    height: 600px;
}

.display {
    text-align: right;
    border: 1px solid black;
    margin: 10px;
}

.calcBtns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 500px;
}