.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    width: 400px;
    height: 600px;
}

.display {
    text-align: right;
    border: 1px solid black;
    margin: 10px;
}

.display-text {
    padding: 10px;
}

.calcBtns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 500px;
}

.numBtn {
    background-color: lightblue;
}

.operator {
    background-color: lightcoral;
}

.equals {
    background-color: orange;
}

.clear {
    background-color: greenyellow;
}